.AddFolder{
  display: flex;
  flex-direction:column;
}

.form-group{
  padding: 15px;
}

.button-group{
  padding: 15px;
}

.AddFolder__title{
  padding: 15px;
  width:100%
}

.lbl{
  padding-right:15px;
}

.folderContainer{
  height:100%
}